<header>
    <h1>Adam Barnes' Angelic Bear ITIS 3135</h1>
    <nav>
        <a href="./"><div>Home</div></a>
        <a href="introduction.html"><div>Introduction</div></a>
        <a href="contract.html"><div>Contract</div></a>
        <a href="website_evaluations.html"><div>Website Evaluations</div></a>
        <a href="fccfsjs_outline.html"><div>FCC FSJS Outline</div></a>
        <a href="intro_form.html"><div>Introduction Form</div></a>
        <a href="project_overview.html"><div>Project Overview</div></a>
        <a href="https://itis3135-react-abarne94.vercel.app/"><div>React3</div></a>
    </nav>
    <nav class="secondnav">
        
        <a href="thebarnesdesign.com"><div>Design Website</div></a>
        <a href="mascot/"><div>Mascot</div></a>
        <a href="stuff/Really bad WebPage ;).htm"><div>CRAPPY Webpage</div></a>
        <a href="hobby/"><div>Hobby</div></a>
        
    </nav>
</header>
